#boxes {
    max-width: 1000px;
    margin: 0 auto;
}
#boxes > .box {
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 5px solid black;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    font-size: 3rem;
    line-height: 200px;
}
#boxes > .box.dragging {
    border: 5px solid red;
    animation: glow 1s infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px -10px red;
  }
  to {
    box-shadow: 0 0 10px 10px red;
  }
}

#boxes > .box.ghost {
    border: 5px dashed black;
    pointer-events: none;
    opacity: 0.2;
}