#boxes {
    max-width: 1000px;
    margin: 0 auto;
}
#boxes > .box {
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 5px solid black;
    border-radius: 5px;
    display: inline-block;
}
#boxes > .box.dragging {
    border: 5px dashed black;
    opacity: 0.2;
}